body {
	font-family: museo, sans-serif;
	margin: 0 auto;
	width:100%;
	background-color: gray;
	letter-spacing: .5px;
}

p {
	font-size: 14px;
	font-weight: 500;
	color: #39270b;
	line-height: 140%
}

h2 {
	color:#FFFFFF;
	font-weight: 500;
}

li {
	font-size: 14px;
	font-weight: 500;
	color: #39270b;
	line-height: 140%;
	margin-bottom: 10px;

}

a {
	color: #FFFFFF;
	font-weight: 300;
	text-decoration: none;

}

.tablet {
	visibility: hidden;
}

.main-container {
	max-width: 1200px;
	margin: 0 auto;
}

/* NAVIGATION */

.header-container{
	height: 130px;
	}

.nav-container {
	width: 1200px;
	display: flex;
	position: absolute;
	top: 0;
}

.nav-container > div {
/*	margin: 0;
*/}

.logo-hand {
	width: 26%;
	height: 130px;
	background-color: rgba(0, 170, 172, .90);
}

.inline a {
	font-size: 22px;
	background-color: #7fb438;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.nav-about {
	width: 14%;
	height: 130px;
	position: relative;
	background-color: rgba(0, 170, 172, .90);
}

.about-sibling {
	width: 14%;
	height: 130px;
	position: absolute;
	top:0;
}

.about a {
	width: 100%;
	min-height: 24px;
	padding: 3px;

}

.nav-about:hover {
	background-color: rgba(0, 170, 172, .00);
}

.about-sibling:hover {
	background-color: rgba(0, 170, 172, .90);
}

.about a:hover {
	background-color: #f26b21;
}


.nav-start {
	width: 20%;
	height: 130px;
	position: relative;
	background-color: rgba(0, 170, 172, .90);
}

.start-sibling {
	width: 20%;
	height: 130px;
	position: absolute;
	top:0;
}

.start a {
	min-width: 100%;
	min-height: 24px;
	padding: 3px;
	background-color: #7fb438;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.nav-start:hover {
	background-color: rgba(0, 170, 172, .00);
}

.start-sibling:hover {
	background-color: rgba(0, 170, 172, .90);
}

.start a:hover {
	background-color: #f26b21;
}

.nav-volunteer {
	width: 20%;
	height: 130px;
	position: relative;
	background-color: rgba(0, 170, 172, .90);
}

.volunteer-sibling {
	width: 20%;
	height: 130px;
	position: absolute;
	top:0;
}

.volunteer a {
	min-width: 100%;
	min-height: 24px;
	padding: 3px;
	background-color: #7fb438;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.nav-volunteer:hover {
	background-color: rgba(0, 170, 172, .00);
}

.volunteer-sibling:hover {
	background-color: rgba(0, 170, 172, .90);
}

.volunteer a:hover {
	background-color: #f26b21;
}

.nav-register {
	width: 20%;
	height: 130px;
	background-color: rgba(0, 170, 172, .90);
	position: relative;
}

.register {
	min-width: 20%;
	min-height: 30px;
	background-color: rgb(0, 170, 172);
	text-align: center;
	position: absolute;
	bottom: 0;
	display: flex;
}

.access {
	padding: 8px 25px;
}

.access:hover {
	padding: 8px 25px;
	background-color: #f26b21;
}

.logo-container {
	max-width: 188px;
	max-height: 120px;
	margin-left: 90px;
	padding: 22px 18px;
	background-color: rgba(254, 255, 205, .85);
	position:absolute;
	top: 55px;
	z-index:1;
}

.logo-container p {
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	padding-top: 5px;
	padding-bottom: 15px;
}

.current1 {background-color: rgba(0, 170, 172, .90);}

.current1:hover {background-color: rgba(0, 170, 172, .90);}

.current2:hover {background-color: rgba(0, 170, 172, .00);}

.current3 a {background-color: #92bf56;}

.current3 a:hover {background-color: #92bf56;}

/* CAROUSEL */

.carousel{
    margin: 0;
    max-width: 1200px;	
    top: 0;
    overflow: hidden;
    position: relative;
}

.panes{
    margin: 0;
    padding: 0;
    list-style:none;
    position:relative;

    width:400%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 60s infinite;
    -webkit-animation:carousel 60s infinite;
    animation:carousel 60s infinite;
}

.panes > li{
    margin: 0px;
    position:relative;
    float:left;
    width:25%; /* 100 / number of panes */
}

.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}

/*@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}*/

.quotebox {
	max-width: 50%;
    position: absolute;
    top: 75px;
    right: 0;
}

.quote {
    float: right;
	padding: 10px 10px 5px 50px;
	border: 3px solid rgba(127, 180, 48, .85);
	background-color: rgba(127, 180, 48, .85);
}

.quote h1 {
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 500;
	text-indent: -13px;
}

.quote p {
	color: #FFFFFF;
	text-align: right;
	padding-right: 50px;
	line-height: 10%;
}

.home-buttons {
    max-width: 1200px;
    max-height: 560px;	
    position: absolute;
    top: 60%;
    margin-left: 80px;
}

.buttons {
	text-align: center;
	width: 188px;
	height: 16px;
	padding: 7px 13px 11px 13px;
	border: 3px solid rgba(242, 107, 33, .85);
	margin: 10px;
	background-color: rgba(242, 107, 33, .85);
}

.buttons a{
	font-size: 18px;
}

.buttons:hover{
	color: rgba(242, 107, 33, .90);
	background-color: #FFFFFF;
}

.buttons:hover a{
	color: rgba(242, 107, 33, .99);
}

#start {
	top: 25%;
}

/* BOTTOM CONTENT */


.bottom-container h3{
	margin: 0;
	position: relative;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}

.subhead {
	background-color: rgb(0, 170, 172);
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	height: 30px; 
	text-indent: 90px;
}

.number-flex{
	display: flex;
	margin-left: 60px 
}

.number-header{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	display: flex;
}


.line {
	width:41px;
	height:3px;
	margin: 16px 0px 0px 0px;
	background-color:rgb(127, 180, 48);
}

.circle {
	height: 35px;
	width: 35px;
	margin-right: 11px;
	margin-left: 11px;
	background-color:rgb(127, 180, 48);
	text-align: center;
	line-height: 0em;
	border-radius: 35px;
}

.circle h2{
	margin-top: 18px
}

.container {
	position:relative;
	margin:20px;
}

.container p {
	padding-top:40px;
	text-align:center;
}

.number-wrapper {
	float:left;
	width:65%;
	min-height:220px;
	background-color:white;
}

.latest{
	width:35%;
	min-height:220px;
	position: relative;
	float:left;
}

.image {
	width:100%;
	height: 100%;
	position: absolute;
	background:url(../media/latest-project.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
	overflow: hidden;
}

.description {
	height: 100%;
	background-color: rgba(57, 39, 11, .6);
	position: absolute;
}

.latest h3{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;

}

.latest h4{
	font-weight: 500;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.latest a{
	line-height: 100%;
}

.latest p{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 125%;
	color: #FFFFFF;
	font-weight: 300;
	margin-top: 10px;
}

.rollover {
	min-height:220px;
	width:100%;
	background-color: rgba(57, 39, 11, .7);
	position: absolute;
	top:0;
}

.rollover:hover{
	background-color: rgba(57, 39, 11, .0);
}


.bottom-img {
	width: 1200px;
	height:10px;
	position: relative;
	bottom: 0;
}

/* OVERALL SECONDARY PAGES */

.main-content {
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 30px;
	display:flex;
}

.sidebar {
	width: 220px;
	height: 100%;
	margin-left: 90px;
	margin-top: 100px;
	margin-right: 0px;
}

.sidebar h4 {
	font-size: 18px;
	font-weight: 500;
	color: rgb(0, 170, 172);
	margin-top: 0px;
}

.guidelines {
	max-height: 642px;
	padding: 23px;
	background-color: rgba(0, 170, 172, .10);
}

.space {
	min-width: 188px;
	height: 700px;
	padding: 19px 16px;
}


.guidelines p {
	font-size: 12px;
}

.guidelines li {
	font-size: 12px;
}

.sidebar-buttons {	
    margin-left: 0px;
}

.s-buttons {
	text-align: center;
	width: 188px;
	height: 16px;
	padding: 7px 13px 11px 13px;
	border: 3px solid #FFFFFF;
	margin-top: 15px;
	margin-bottom: 15px;
}

.inactive {
	visibility: hidden;
}

.s-buttons a{
	font-size: 18px;
	color:rgb(0, 170, 172);
}

.s-buttons:hover{
	background-color: #FFFFFF;
	border: 3px solid rgb(0, 170, 172);
}


.main-view {
	width: 100%;
	margin-left: 8%;
	margin-right: 225px;
}

.main-view h3{
	color: rgb(242, 107, 33);
	font-size: 20px;
	font-weight: 500;
	margin-top: 0px;
}

.breadcrumbs a{
	font-size: 12px;
	font-weight: 500;
	color: rgb(57, 39, 11);
}	

.section {
	padding-top:40px;
	padding-bottom: 40px;
}

/* FORMS */

.form {
	width: 100%;
	margin-top: 0px;
}

legend {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	background-color: rgb(0, 170, 172);
	padding: 2px 10px;
	}

.field-wrap {

}

.f-buttons {
	text-align: center;
	width: 420px;
	height: 25px;
	padding: 15px 0px 15px 0px;
	border: 3px solid rgb(242, 107, 33);
	margin: 10px;
	background-color: rgb(242, 107, 33);
}

.f-buttons a{
	font-size: 20px;
}

.f-buttons:hover{
	color: rgb(242, 107, 33);
	background-color: #FFFFFF;
}

.f-buttons:hover a{
	color: rgb(242, 107, 33);
}

/* OVERLAY STYLING */

.overlay {
	width:100%;
	height:110%;
	position: absolute;
	top:0;
	background-color: rgba(57, 39, 11, .75);
	z-index:3;
}

.dialog {
	width:665px;
	height:315px;
	position: relative;
	top: 20%;
	left:30%;	
	background-color: #FFFFFF;
}

.button-close {
	width: 24px;
	height:24px;
	border-radius: 15px;
	border: 3px solid rgb(57, 39, 11);
	background-color:	#FFFFFF;
	margin: 5px;
	position: absolute;
	right:0;
}

.button-close a {
	padding: 5px 6px 5px 6px;
	font-weight: 700;
	font-size: 18px;
	color: rgb(57, 39, 11);
	line-height: 140%;
}

.bluebox {
	position: absolute;
	top:22px;	
	width:619px;
	height: 189px;
	background-color: rgba(0, 170, 172, .10);
	margin-left: 22px;
}

.bluebox h1{
	text-align: center;
	font-size: 32px;
	color: rgb(0, 170, 172);
	font-weight: 500;
	margin-top: 35px;
}

.bluebox p {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	padding-left: 70px;
	padding-right: 70px;
}

.bluebox a {
	color: rgb(0, 170, 172);
	font-weight: 500;
}

.bluebox a:hover {
	color: rgb(242, 107, 33);
}

.overlay-buttons {
	position:absolute;
	margin-left: 12px;
	width:98%;
	bottom: 15px;
	display:flex;
}

.o-buttons {
	text-align: center;
	width: 45%;
	height: 25px;
	padding: 15px 0px 15px 0px;
	border: 3px solid rgb(242, 107, 33);
	margin: 10px;
	background-color: rgb(242, 107, 33);
}

.o-buttons a{
	font-size: 20px;
}

.o-buttons:hover{
	color: rgb(242, 107, 33);
	background-color: #FFFFFF;
}

.o-buttons:hover a{
	color: rgb(242, 107, 33);
}


/* ABOUT PAGE */

.about-number-wrapper {
	margin-top: 40px;
	width: 100%;
	min-height: 220px;
}

.aline {
	width: 85%;
	height: 3px;
	margin: 16px 0px 0px 0px;
	background-color: rgb(127, 180, 48);
}

.acontainer {
	position:relative;
	margin:0px;
}

.acontainer p {
	font-size: 18px;
	text-align:left;
	margin-left: 60px;
	margin-bottom:50px;
	margin-top: 10px;
}

.anumber-header{
	position:relative;
	left:0%;
	display: flex;
}

.aboutheader {
	height:30px;
	width:50%;
	position:absolute;
	left: 0px;
	background-color: rgb(0, 170, 172);
}

.aboutheader h2{
	font-size: 20px;
	font-weight: 500;
	line-height: 0%;
	left:70%;
	position: relative;
}

/* START PAGE */







/* VOLUNTEER PAGE */

.projects {
	width: 130%;
	height: 100%;
	display:flex;
}

.projects h4{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF; 
}

.details p{
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF; 
	margin-top: -15px;
}

.details h5{
	font-weight: 500;
	color: #FFFFFF;
}

.project-block {
	width: 50%;
	margin-right: 20px;
/*	background-color: rgba(57, 39, 11, .6);
*/	padding-left: 30px;
}

.gradient{
    width:100%;
    height: 200px;
    position:absolute;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
}
/*.lot-image {
	width:100%;
	height: 100%;
	position: absolute;
	background:url(../media/latest-project.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
	overflow: hidden;
}*/



















/* TABLET-SIZE */

@media (max-width: 768px) {
  .facet_sidebar {
/*    display: none;
*/  }

.main-container {
	max-width: 768px;
	margin: 0 auto;
}

/* TABLET NAVIGATION */

.tablet {
	visibility: visible;
}

.desktop {
	visibility: hidden;
}

.header-container{
	height: 130px;
	}

.nav-container {
	display: flex;
	position: absolute;
	top: 0;
}

.nav-container > div {
	margin: 0;
}

.logo-hand {
	width: 200px;
}

.inline a {
	font-size: 20px;
}

.nav-about {
	width: 102px;
	height: 130px;
}

.about-sibling {
	width: 102px;
	height: 130px;
}

.about a {
	width: 102px;
	max-height: 54px;
	line-height: 275%;
}

.nav-start {
	width: 152px;
	height: 130px;
}

.start-sibling {
	width: 152px;
	height: 130px;
}

.start a {
	min-width: 152px;
	height: 49px;
	line-height: 110%;
	padding-top: 8px;
}

.nav-volunteer {
	width: 152px;
	height: 130px;
}

.volunteer-sibling {
	width: 152px;
	height: 130px;
}

.volunteer a {
	min-width: 152px;
	height: 54px;
	line-height: 275%;
}


.nav-register {
	width: 163px;
	height: 130px;
}

.register {
	min-width: 163px;
	height: 59px;
}


.access {
	padding: 20px 10px;
}

.access:hover {
	padding: 20px 10px;
}

.logo-container {
	margin-left: 0px;
	max-width: 168px;
}

.carousel img{
    display:block;
    width:500%;
    max-width:200%;
}

.home-buttons {
    top: 60%;
    margin-left: 0;
}

.buttons {
	margin-left: 0px;
}

.number-flex{
	margin-left: 0px 
}

.container {
	margin:15px;
}

.line {
	width:0px;
	height:0px;
	margin:0px;
}

.subhead {
	text-indent: 30px;
}

/*.short-paragraph {
	margin-top: -30px;
}*/


/* MOBILE-SIZE */

@media (max-width: 320px) {
  .facet_sidebar {
/*    display: none;
*/  }



