body {
	margin: 0 auto;
	width:100%;
	background-color: green;
}

.main-container {
	max-width: 1200px;
	min-height: 500px;
	margin: 0 auto;
}

.nav-background{}

.nav-container{}

.logo-hand {
	/*margin-top: -140px;*/
	max-width: 310px;
	height: 130px;
	background-color: rgba(0, 170, 172, .80);
}

/* .nav ul{
	width: 171px;
	height: 40px;
	background-color: #EEE;
} 

*/

.nav-about{
	width: 171px;
	height: 130px;
	background-color: #EEE;
	position: relative;
}

.about a{
	width: 171px;
	height: 30px;
	padding-top: 8px;
	background-color: #7fb438;
	text-align: center;
	position: absolute;
	bottom: 0;

}


/* 
.nav ul .overlay{
	background-color: rgba(0, 170, 172, .80);
	width: 100%;
	height: 100%;
}

.nav a{
	width:171;
	height:30;
	background-color:#7fb438;
	color: #ffffff;
	position: absolute;
	bottom: 0;
}
 */



/* Old Navigation Styles

.logo-container {
	max-width: 200px;
	max-height: 155px;
	padding-left: 16px;
	padding-top:19px;
	background-color: #FEFFCD;
}

#logo {
	width: 40%;
	height: auto;
	background-color: #FEFFCD;

}

.navigation {
	margin-left: 200px;
	max-height: 30px;
	max-width: 880px;

}

.button-nav {
	color: #ffffff;
	margin-left: 200px;
	background-color: #7fb438;
	display: flex;
	
*/

}